body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #FF9900;
    padding: 10px;
    text-align: center;
}

.titulo-principal {
    font-size: 32px;
    color: #000000;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.section-title {
    font-size: 24px;
    color: #000000;
    margin: 0;
}

.noticias-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.noticia {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    cursor: pointer;
}

.noticia:hover {
    background-color: #F1F1F1;
}

.noticia-imagen {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.noticia-titulo {
    font-size: 18px;
    color: #000000;
    margin: 10px 0;
}

.noticia-contenido {
    font-size: 14px;
    color: #444444;
}

.noticia-completa {
    background-color: #FFFFFF;
    padding: 20px;
}

.noticia-completa h2 {
    font-size: 24px;
    color: #000000;
    margin: 0 0 10px;
}

.noticia-completa p {
    font-size: 16px;
    color: #444444;
    margin: 0;
}

.error {
    color: #FF0000;
    font-weight: bold;
}

/* Botones */
.botones {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF9900;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.boton:hover {
    background-color: #FFCC66;
}

@media (max-width: 768px) {
    .noticia {
        width: 100%;
    }
}

